<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>POKEMON QUIZ</title>
</head>

<body>
    <header>
        <h1>QUIZ GAME</h1>
        <p>Pokemon</p>
    </header>

    <div class="container">
        <section id="questions">
            <form action="/" method="POST">
                {% for result in results %}
                    <section id="p{{ loop.index }}">
                        <h3>{{ loop.index }}- {{ result[0] }}</h3>  <!-- Muestra la pregunta -->
                        {% if result[1] %}  <!-- result[1] contiene el quiz -->
                            {% for c in result[1] %}
                                <label>
                                    <input type="radio" value="{{ c }}" name="{{ result[3] }}"> {{ c }}  <!-- Cada grupo tiene un nombre único -->
                                </label>
                                <br>
                            {% endfor %}
                        {% else %}
                            <p>No abilities found.</p>
                        {% endif %}
                    </section>
                {% endfor %}
                <button type="submit" id="search">FINISH</button> <!-- Botón dentro del formulario -->
            </form>
        </section>
          
    </div>
    <script src=""></script>
</body>

</html>