<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>POKEMON QUIZ</title>
</head>

<body>
    <header>
        <h1>QUIZ GAME</h1>
        <p>Pokemon</p>
    </header>

    <div class="container">
        <section id="p1">
            <form action="/" method="POST">    
                <section id="p0">
                    <h3>1- {{ question }}</h3>
                    {% if quiz %}
                        {% for c in quiz %}
                            <label>
                                <input type="radio" value="{{ c }}" name="p0"> {{ c }}  <!-- Asegúrate de que 'c' sea el valor correcto -->
                            </label>
                            <br>
                        {% endfor %}
                    {% else %}
                        <p>No abilities found.</p>
                    {% endif %}
                </section>
                <button type="submit" id="search">FINISH</button> <!-- Botón dentro del formulario -->
            </form>
        </section>
    </div>
    <script src=""></script>
</body>

</html>